body {
    margin:0;
    padding:0;
    border:0;           
    width:100%;
    background:#F0F0F0;  
    min-width:600px; 
    font-size:90%;
    font-family: Helvetica;
    display: flex;
}

.contenedorp {
    margin: auto; 
    width: 80%; 
    background: rgba(118, 147, 236, 0.151); 
    position: relative;
}

.encabezado {
    clear:both;
    float:left;
    width:99%;
    padding: 5px;
}

.envoltura {
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;        
}

.pie {
    clear:both;
    float:left;
    width:99%;
    padding: 5px;
}

#direccion{
    text-align: center;
}

p {
    border: solid 2px;
    border-color: blue;
}

.colordefondo{
    color: black;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;   
}

.titulo{
    background-color: burlywood;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
}

.titulo span{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 15px;
}

#button {
    padding: 0;
}

#button li {
    display: inline;
}

#button li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

#button li a:hover {
    background-color: #2586d7;
    margin-top: -2;
    padding-bottom: 12px;]
}