body {
    margin:0;
    padding:0;
    border:0;           
    width:100%;
    background:#F0F0F0;  
    min-width:600px; 
    font-size:90%;
    font-family: Helvetica;
}

.encabezado {
    clear:both;
    float:left;
    width:99%;
    padding: 5px;
}

.envoltura {
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;        
}

.pie {
    clear:both;
    float:left;
    width:99%;
    padding: 5px;
}

#direccion{
    text-align: center;
}

p {
    border: solid 2px;
    border-color: blue;
}

.colordefondo{
    background-color: coral;
    background: coral;
    color: darkred;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}