<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='miestilo.css') }}">
</head>
<body>
    <div style="margin: auto; width: 80%; background: royalblue;">
        <div class='encabezado'>
            <strong>
                <h1 class="colordefondo" style="text-align:center;">Hoja de vida Miguel Ángel Tejedor Mendoza</h1>
            </strong>
        </div>
        <div class='envoltura'>
            <div class='col1'>
                <p>
                    Ingeniero de Sistemas, creativo, hábil y de gran capacidad para aprender, con criterio para asumir
                    el conocimiento y la técnica. Poseo gran capacidad de adaptabilidad, trabajo bajo presión y en
                    equipo  . Mi
                    objetivo en la vida es aportar a la sociedad herramientas útiles que permitan desarrollo integral de
                    todo ser humano.
                </p>
                <div class="center">

                    <img style="position: relative;" id="imagen" src="{{ url_for('static', filename='foto.jpg') }}"
                        alt="" class="center"> <br>

                    <a class="center" style="text-align: center;"
                        href="https://www.linkedin.com/in/miguel-angel-tejedor-mendoza-6695b91a6/">Perfil en
                        linkedin</a> <br> <br>
                </div>

                <strong>
                    <em> Información personal</em>
                </strong>

                <p>
                    Nombre(s) / Apellido(s) Miguel Ángel/ Tejedor Mendoza <br>
                    Dirección Bucaramanga, Carrera 30, Calle 9, Universidad Industrial de Santander, Residencias
                    Universitárias UIS. <br>
                    Móvil 3115667637 <br>
                    Correo(s) electrónico(s) <u> miguel.tejedor@correo.uis.edu.co </u><br>
                    Nacionalidad Colombiana <br>
                    Ciudad de nacimiento Cimitarra, Santander <br>
                    Documento de identidad Cédula de ciudadanía No. 1.098.170.736 de El Peñón Santander <br>
                    Fecha de nacimiento 11 de mayo de 1989 <br>
                    Sexo Masculino <br>

                </p> <br>
                <strong>
                    <em> Estudios</em>
                </strong>

                <p>
                    Secundaria: Colegio Integrado Antonio Ricaurte  <br>
                    Universidad: UIS <br>
                </p> <br>

                <strong>
                    <em> Formación Complementaria</em>
                </strong>

                <p>
                    ORIENTACION DE LA FORMACION PROFESIONAL <br>
                    BIENVENIDA A INSTRUCTORES SENA<br>
                    APLICACION DE HERRAMIENTAS METODOLOGICAS EN INVESTIGACION: PROCESOS DE CIENCIA, TECNOLOGÍA E INNOVACION <br>
                    INTEGRACION DE HERRAMIENTAS TECNOLOGICAS EN LA ENSEÑANZA Y APRENDIZAJE </u><br>
                </p> <br>
                <table>
                    <tr>
                        <th>Cargos</td>
                        <th>Entidad</td>
                        <th>Fecha Inicio</td>
                        <th>Fecha Fin</td>
                    </tr>

                    <tr>
                        <td>Instructor</td>
                        <td>SENA</td>
                        <td>19/05/2017</td>
                        <td>15/12/2017</td>
                    </tr>

                    <tr>
                        <td>Instructor</td>
                        <td>SENA</td>
                        <td>03/02/2017</td>
                        <td>18/05/2017</td>
                    </tr>

                    <tr>
                        <td>Instructor</td>
                        <td>SENA</td>
                        <td>10/02/2016</td>
                        <td>02/12/2016</td>
                    </tr>

                    <tr>
                        <td>Instructor</td>
                        <td>SENA</td>
                        <td>20/11/2015</td>
                        <td>20/12/2015</td>
                    </tr>


                </table>
                <table>
                    <tr></tr>
                    <tr></tr>
                </table>
                <table style="border:black 5px solid;" border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Dirección</th>
                        <th>Profesión</th>
                    </tr>
                    <tr>
                        <td>Miguel</td>
                        <td>27</td>
                        <td>America India</td>
                        <td>Ingeniero de Sistemas</td>
                    </tr>
                    <tr>
                        <td>Miguel</td>
                        <td>27</td>
                        <td>America India</td>
                        <td>Ingeniero de Sistemas</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class='pie'>
            <p id="direccion" style="text-align: center;">Calle 6A #7A-03 America India<span>Vélez</span> Celular: <span>3115667637</span></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>